header
    .inner
        .container-fluid
            .row
                .col-md-12
                    .h-block «Тихий убийца» обезврежен!
                    h1
                        | Наконец-то! Медики РАЗРАБОТАЛИ УНИКАЛЬНУЮ МЕТОДИКУ,
                        | которая не только останавливает развитие АТЕРОСКЛЕРОЗА,
                        | но и поворачивает болезнь вспять!
                    .absolute-block
                        h4
                            | Уникальная методика
                            br
                            | теперь доступна каждому!
section.details
    .inner
        .container-fluid
            .row
                .col-md-12
                    h6 Все детали от первого шага и до жизни без лекарств:
                    .details-content
                        .details-item
                            img(src="img/icons/det1.png")
                            p Cамостоятельно
                        .details-item.details-item-mid
                            img(src="img/icons/det2.png")
                            p Без таблеток и операций
                        .details-item
                            img(src="img/icons/det3.png")
                            p Без госпитализации
